#compendium .import-compendium {
	flex: 0;
	white-space: nowrap;

	&.ic-wide {
		flex: unset;
	}
}

.app.mkah-compendium-importer {
	form {
		display: flex;
		flex-direction: column;
		gap: 5px;
		height: 100%;

		label,
		input {
			align-self: center;

			&.warning {
				background-color: #ff000026;

				&:before {
					font-family: 'Font Awesome 5 Free';
					font-weight: 900;
					content: '\f071';
					//left: 2em;
				}
			}

			&.readonly {
				opacity: 0.6;
			}
		}

		label {
			input {
				margin: 0;
			}

			display: inline-flex;
			flex-flow: row nowrap;
			align-items: center;
			gap: 0.2rem;
		}

		h2,
		h3 {
			margin: 0;
			padding: 0;
		}

		.options {
			display: flex;
			gap: 0.5rem;
		}

		.metadata {
			display: grid;
			grid-template-columns: min-content auto min-content min-content;
			gap: 3px;

			margin-left: 0.3em;

			.type,
			.version,
			.sysVersion,
			.coreVersion {
				width: min-content;
			}
		}

		section.tree {
			overflow: hidden scroll;

			display: flex;
			flex-flow: column nowrap;
			gap: 0.5em;

			margin: 0.5em 0;
		}

		ul {
			display: flex;
			flex-flow: row wrap;
			gap: 5px;

			list-style: none;
			margin: 0;
			padding: 0;

			width: 100%;

			&.items {
				margin-left: 3px;
			}

			&.folders {
				> li {
					margin-left: 5px;
					border-left: 2px groove var(--color-border-dark-3);
					border-radius: 5px;
					padding-left: 0.3em;
				}
			}

			li {
				display: flex;
				flex-flow: row nowrap;

				&.folder {
					flex-flow: column nowrap;
					flex: 0 100%;

					h3 {
						display: flex;
						flex-flow: row nowrap;
						gap: 0.5em;

						width: 100%;
					}
				}

				&.document {
					// -3px for above 3px gap
					flex: 0 calc(50% - 3px);
				}

				align-items: center;
				gap: 3px;

				cursor: grab;

				&:hover {
					background-color: hsl(0deg 0% 100% / 10%);
					color: var(--color-text-dark-primary);
				}

				img {
					flex: 0 24px;
					width: 24px;
					height: 24px;
				}

				.name {
					margin: 0;
					padding: 0;
					border: unset;
				}
			}
		}
	}
}
